.window-container {
  display: flex;
  height: calc(100vh - 48px);
  position: relative;
}

.window {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tab-content {
  flex: 1;
  padding: 8px;
  overflow: auto;
  border: 1px solid lightgreen;
}

:host {
  display: flex;
  flex-direction: column;
}

.group-tab {
  display: flex;
  width: 100%;

  background-color: #dee2e6;
  height: 48px;

  & > .tab {
    display: flex;
    align-items: center;

    background-color: #dee2e6;
    padding: 8px 16px;
    cursor: grab;
    list-style: none;
    gap: 16px;
  }
  & > .tab:hover {
    background-color: #fff;
  }
  & > .tab > button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  & > .tab > button:hover {
    background-color: #dee2e6;
  }
}

.drop-zone {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: space-between;

  & > div {
    width: 40%;
  }
}

.drop-zone-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 400px;
  height: 400px;
}

.drop-over-active {
  background-color: #4271d73b;
}

.drag-active {
  z-index: 10;
}

.list-sidenav {
  display: flex;
  flex-direction: column;
  list-style: none;

  & > li {
    // border-bottom: 1px solid #dee2e6;
    padding: 8px 16px;
    display: flex;
    cursor: pointer;
  }
}

.resize-handle {
  width: 6px;
  background: #212529;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
