.container {
  display: flex;
}

.tab-list {
  background: #dee2e6;
  height: 48px;
  display: flex;
  width: 95%;
}

.tab-item {
  background: #f1f3f5;

  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 16px;
  text-transform: lowercase;
  gap: 8px;
  & > button {
    border-radius: 256px;
    display: flex;
    border: none;
    cursor: pointer;
  }
  & > button > span {
    color: #212529;
  }
}
.tab-item:hover {
  background: #ced4da;
}

.button-sidebar {
  width: 5%;
  border: none;
  background-color: #4272d7;
  color: #fff;
  cursor: pointer;
}
