<div class="container">
  <button class="button-sidebar" (click)="toggleSideBar()">
    <span class="material-symbols-outlined"> menu </span>
  </button>

  <ul class="tab-list">
    <li
      class="tab-item"
      *ngFor="let tab of openTabs"
      draggable="true"
      (dragstart)="onDragStart($event, tab)"
    >
      <p>{{ tab.title }}</p>
      <button (click)="closeTab(tab)">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </li>
  </ul>
</div>

<app-sidebar></app-sidebar>
